/* colors:;
lhorange: #BF5700
ukblue: #005DAA
midnight: #191970;
agold: #FFCB05
agreen: #7B8738
*/
.orange{
  background-color: #191970;
  color: white;
}
.gold{
  background-color: #FFCB05;
}
.blue{
  background-color: #005DAA;
  color: #FFCB05;
}
.green{
  background-color: #7B8738;
  color: white;
}

html {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  font-family: 'Oxygen', Arial, sans-serif;
  /*font-size: 120%;*/
  padding: 4px;
  background-color: white;
}
h1 {
  font-size: 250%;
  line-height: 120%;
}
h2 {
  font-size: 200%;
  line-height: 120%;
}
h3 {
  font-size: 130%;
  line-height: 120%;
}
p {
  font-size: 100%;
  line-height: 120%;
  letter-spacing: 1px;
  padding-top: 6px;
}
.center {
  margin: 0 auto;
}
.slides {
}
.center_text {
  text-align: center;
}
/*.project_box {
  padding: 0px 0px 20px 20px;
  overflow: auto;
  width: 1000px;
}*/
.project_text_box{
  background-color: black;
  color: white;
  padding: 20px;
  margin: 20px auto 20px auto;
  border-radius: 20px;
  min-width: 280px;
  max-width: 700px;
}
.project_text{
}
.project_visual {
  border-style: solid;
  border-color: black;
  border-width: thin;
  min-width: 280px;
  max-width: 730px;
  width: 90%;
}*
.big_quote{
  font-size: 150%;
  font-style: italic;
  line-height: 1.2;
}
.big_quote:before{
  color: #ccc;
  content: '\201C';
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.hero{
  width: 96%;
  background-color: pink;
}
.hero__content{
  width: 90%;
  margin: 40px auto;
}
.cards {
  background-color: yellow;
}
.cards__deck {
  width: 90%;
  margin: 50px auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: wrap;
  height: 250px;
  background-color: gray;
}
.cards__card{
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 700px) {
    .double_div {
      width: 100%;
    }
    .section__square{
      width: 50%;
      size
      : 339px;
    }
}
@media screen and (max-width: 500px) {
    .section__square{
      width: 100%;
    }
}
