hr{
  border-top: 1px solid #888;
}

body {
  font-size: 16px;
}

div.dev-container{
  background-color: white;
  box-shadow: 1px 1px 5px lightgray;
}
div.ux-container{
  background-color: white;
  box-shadow: 1px 1px 5px lightgray;
}
div.bucket {
  padding: 30px 15px;
  border-radius: 6px;
}

.jumbotron{
  margin-bottom: 0px;
  box-shadow: 1px 1px 5px lightgray;
}

div.jumbotron.text-center{
    background-image: url("../images/blue_bonnet_sunset_oil_sm.jpg");
    overflow: visible;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 3px navy;
}

@media (min-width: 768px) {
  /* bucket styling to match Bootstrap CDN for Jumbotron */
  div.bucket {
    padding: 48px 60px;
  }
