header {
  width: 292px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

p, h3{
  padding: 0px 10px;
}

footer {
  width: 290px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

body {
  background-color: aliceblue;
}

.overall-area {
  height: 480px;
  width: 290px;
  margin: 20px auto;
}

.p1-score, .game-options, .p2-score, .btn-div, .game-cell{
  text-align: center;
}

.btn {
  background-color: rgb(238, 238, 238);
}

.game-board{
    width: 288px;
    height: 288px;
    border: outset 2px blue;
    font-size: 0px;
}

.game-cell {
  display: inline-block;
  width: 92px;
  height: 92px;
  border: inset 2px blue;
  background-color: lightgrey;
  margin: 0px;
}

img {
  height: 80px;
  margin: 7px 9px;
  opacity: .;
}

.red { /* must start with saturated red image for color to be correct */
    -webkit-filter: hue-rotate(0deg) saturate(100); /* Chrome, Safari, Opera */
    filter: hue-rotate(0deg) saturate(100);
    cursor: no-drop;
}

.green { /* must start with saturated red image for color to be correct */
    -webkit-filter: saturate(100) hue-rotate(115deg); /* Chrome, Safari, Opera */
    filter: saturate(100) hue-rotate(115deg);
    cursor: no-drop;
}

.blue { /* must start with saturated red image for color to be correct */
    -webkit-filter: hue-rotate(240deg) saturate(100); /* Chrome, Safari, Opera */
    filter: hue-rotate(240deg) saturate(100);
    cursor: no-drop;
}

.purple { /* must start with saturated red image for color to be correct */
    -webkit-filter: hue-rotate(270deg) saturate(100); /* Chrome, Safari, Opera */
    filter: hue-rotate(270deg) saturate(100);
    cursor: no-drop;
}

.black { /* must start with saturated red image for color to be correct */
    -webkit-filter: hue-rotate(270deg) saturate(0); /* Chrome, Safari, Opera */
    filter: hue-rotate(270deg) saturate(0);
    cursor: no-drop;
}

.popUp {
  display: block;
  position: absolute;
  top:  160px;
  left: 10px;
  color: white;
  background: Navy;
  padding: 15px;
}

.turnPointer {
  display: inline-flex;
  position: relative;
  color: white;
  background: navy;
  padding: 15px;
}

#player1Pointer{
  display: inline-flex;
  padding: 0px;
  width: 0px;
  height: 0px;
  border-top: 25px solid transparent;
  border-right: 50px solid navy;
  border-bottom: 25px solid transparent;
  border-left: 0px solid transparent;
  background: transparent;
}

#player2Pointer{
  display: inline-flex;
  padding: 0px;
  width: 0px;
  height: 0px;
  border-top: 25px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 50px solid navy;
  background: transparent;
}
