hr{
  border-top: 1px solid #888;
}

body {
  font-size: 16px;
}

div.dev-container{
  background-color: #eee;
}
div.ux-container{
  background-color: #eee;
}
div.bucket {
  padding: 30px 15px;
  border-radius: 6px;
}

.jumbotron{
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  /* bucket styling to match Bootstrap CDN for Jumbotron */
  div.bucket {
    padding: 48px 60px;
  }
