/* colors:;
Ky blue: navy
Army gold: #FFCB05
Army green: #7B8738
Tx red: #F51E1E
*/
.orange{
  background-color: #BF5700;
  color: white;
}
.red{
  background-color: #F51E1E;
  color: white;
}
/*.red:hover{
  background-color: #E50E0E;
}*/
.gold{
  background-color: #FFCB05;
}
.gold:hover{
  background-color: #EFBB00;
}
.blue{
  background-color: navy;
  color: white;
}
.blue:hover{
  background-color: #000060;
}
.green{
  background-color: #7B8738;
  color: white;
}
.green:hover{
  background-color: #6B7728;
  color: white;
}
.white{
  background-color: #FFFFFF;
  color: navy;
}
.white:hover{
  background-color: #EFEFEF;
}
html {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  font-family: 'Oxygen', Arial, sans-serif;
  padding: 20px;
  background-color: #dddddd;
}
h1 {
  font-size: 2.4em;
  line-height: 120%;
  margin-top: 20px;
  margin-bottom: 10px;
}
h2 {
  font-size: 1.8em;
  line-height: 120%;
  margin-top: 20px;
}
h3 {
  font-size: 1.41em;
  line-height: 120%;
  margin-top: 10px;
  margin-bottom: 10px;
}
p, ul, button, span, a{
  font-size: 1em;
  line-height: 140%;
  letter-spacing: 1px;
  padding-top: 10px;
}
strong{
  font-weight: 700;
}
header{
  padding-top: 5px;
}
video {
  width: 100%;
  max-width: 640px;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.a_link{
  text-decoration: underline;
}
.a_link:hover{
  opacity: 0.5;
}
#linked_in:hover{
  opacity: 0.5;
}
.button_link{
  display: inline-block;
  color: black;
  background: #ffffff;
  border-radius: 10px;
  border-width: 1px;
  border-color: #aaaaaa;
  border-style: outset;
  margin: 10px;
  padding: 4px;
}
.button_link:hover{
  opacity: 0.7;
}
.center {
  display: block;
  margin: 10px auto;
}
.slides {
}
.center_text {
  text-align: center;
}
.project_text_box{
  background-color: black;
  color: white;
  padding: 20px;
  margin: 20px auto 20px auto;
  border-radius: 20px;
  min-width: 280px;
  max-width: 700px;
}
.project_text{
}
.project_visual {
  border-style: solid;
  border-color: black;
  border-width: thin;
  min-width: 280px;
  max-width: 730px;
  width: 90%;
}
.big_quote{
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.2;
}
.big_quote:before{
  color: #ccc;
  content: '\201C';
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.blocks_container{
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-wrap: wrap;
}
.blocks_frame{
  width: 80%;
  background-image: url("../images/background_frame.png");
  background-size: 100% 100%;
  padding: 5px 50px 40px 50px;
  margin: 0 auto;
}
.header_exp{
  width: 80%;
  background-image: url("../images/header_background.png");
  background-size: 100% 100%;
  padding: 0px 50px;
  margin: 0 auto;
}
.blocks_frame_mid{
  width: 80%;
  background-image: url("../images/background_frame_mid.png");
  background-size: 100% 100%;
  padding: 5px 50px 40px 50px;
  margin: 0 auto;
}
.footer_exp{
  width: 80%;
  background-image: url("../images/footer_background.png");
  background-size: 100% 100%;
  padding: 0px 50px;
  margin: 0 auto;
}
.double_div{
  width: 66.66%;
  display: inline-block;
  padding: 30px;
  box-sizing: border-box;
}
.float_right{
  height: 142px;
  float: right;
  background: #fffcf6;
  border-radius: 36px;
  border-width: 1px;
  border-color: #aaaaaa;
  border-style: outset;
  margin-bottom: 10px;
  margin-left: 10px;
}
.clear_right{
  clear: right;
}
.section__square{
  width: 33.33%;
  display: inline-block;
  padding: 30px;
  box-sizing: border-box;
}
.float_left{
  float: left;
  margin-right: 10px;
}
.clear_left{
  clear: left;
}
#psi_image{
  margin-top: 17px;
}
.img_30h{
  height: 30px;
}
.img_button{
  vertical-align: middle;
}
.button_group_wrapper_vert
{
  padding-top: 10px;
}
.img_50h{
  height: 50px;
}
#letter_image{
  height: 30px;
}
@media only screen and (max-width: 820px) {
    .double_div {
      width: 100%;
    }
    .section__square{
      width: 50%;
      /*size: 339px;*/
    }
}
@media only screen and (max-width: 589px) {
    .section__square{
      width: 100%;
    }
    body{
      padding: 0px;
    }
}



