hr{
  border-top: 1px solid #888;
}

body {
  font-size: 16px;
  background-image: url("../images/cloud_3d_lg.jpg");
  background-repeat: no-repeat;
  background-size: 753px;
  background-position: center 265px;
  background-attachment: fixed;
}

a img:hover {
  opacity: 0.8;
}

div.bucket {
  padding: 30px 15px;
  background-color: rgba(250, 251, 251, 0.9);
  border-radius: 6px;
  box-shadow: 2px 2px 5px lightgray;
}

.jumbotron{
  margin-bottom: 0px;
  box-shadow: 2px 2px 5px lightgray;
}

div.jumbotron.text-center{
  background-color: rgba(0, 0, 0, 0.0);
  box-shadow: 0px 0px 0px lightgray;
  padding-top: 0px;
  padding-bottom: 110px;
  height: 541px;
}

@media (min-width: 768px) {
  /* bucket styling to match Bootstrap CDN for Jumbotron */
  div.bucket {
    padding: 48px 60px;
  }
  body {
    background-position: center 215px;
    background-size: 100%;
  }
